<%= display_header(NAV1[:dish_type]) %>



<script type="text/javascript">
    var validateRoot = "http://" + document.location.host;
    $(document).ready(function () {

        //解析describe
        var describe = $("#dish_type_describe").val().replace(/ /g, '&nbsp;').replace(/\n/g, '<br/>');
        $("#div_detail").append(describe);

    })

    function before_submit() {
        var describe = $("#div_detail").html();
        describe = describe.replace(/&nbsp;/g, " ").replace(/<br>/g, "\n");
        $("#dish_type_describe").val(describe);
        return true;
    }


</script>





<div class="title-main">
  <div class="title-left">
    修改类别
  </div>
  <div class="title-right">
  </div>
</div>

<div class="main-container">
  <div style="float: left;clear: both;">

    <%= form_for @dish_type, :url => {:action => 'update'}, :html => {:class => 'nifty_form', :multipart => true} do |f| %>
        <table>
          <tr>
            <td colspan="2">
              <div
              <% if flash[:msg] %> class="alert"
              <% end %>>
                <%= flash[:msg] %>
              </div>
            </td>
          </tr>
          <tr>
            <td>类别名称:</td>
            <td><%= f.text_field :name, :value => @dish_type.name, :style => 'width:300px;' %></td>
          </tr>

          <tr>
            <td>详细介绍:</td>
            <td>
              <div id="div_detail" style="width: 450px;clear:both;word-break: break-all;word-wrap: break-word; min-height: 100px; border: 1px solid #CCCCCC;" contenteditable="true"></div>
              <%= f.hidden_field :describe, :value => @dish_type.describe %>
            </td>
          </tr>


          <td></td>
          <td>
            <div style='margin-left: 60px;margin-top: 20px;'>
              <input type='submit' value='保存' class='btn btn-large btn-primary' id="all_send" onclick="return before_submit();"/>
            </div>
          </td>
          </tr>
        </table>
    <% end %>
  </div>


</div>



