<%= display_header(NAV1[:dish_type]) %>


<script type="text/javascript">
    $(document).ready(function () {
        //解析describe
        var describe = $("#dish_type_describe").val().replace(/ /g, '&nbsp;').replace(/\n/g, '<br/>');
        $("#div_detail").append(describe);

    })
    function before_submit() {
        var describe = $("#div_detail").html();
        describe = describe.replace(/&nbsp;/g, " ").replace(/<br>/g, "\n");
        $("#dish_type_describe").val(describe);
        return true;
    }

</script>

<style>
    .pop-box {
        /*弹出窗口后，弹出的DIV采用此CSS，保证置于最上层
        z-index控制Z轴的坐标，数值越大，离用户越近
        */
        z-index: 9999999; /*这个数值要足够大，才能够显示在最上层*/
        margin-bottom: 3px;
        display: none;
        position: absolute;
        background: #f5f5f5;
        border: 1px solid lightgrey;
    }


</style>

<!--t.string   "name"-->
<!--t.string   "describe"-->
<!--t.datetime "created_at"-->
<!--t.datetime "updated_at"-->


<div class="title-main">
  <div class="title-left">
    新增类别
  </div>
  <div class="title-right">
  </div>
</div>

<div class="main-container">
  <div style="float: left;clear: both;">

    <%= form_for @dish_type, :url => {:action => 'create'}, :html => {:class => 'nifty_form', :multipart => true} do |f| %>
        <table>
          <tr>
            <td colspan="2">
              <div
              <% if flash[:msg] %> class="alert"
              <% end %>>
                <%= flash[:msg] %>
              </div>
            </td>
          </tr>
          <tr>
            <td>类别名称:</td>
            <td><%= f.text_field :name, :value => @dish_type.name, :style => 'width:300px;' %></td>
          </tr>

          <tr>
            <td>详细介绍:</td>
            <td>
              <div id="div_detail" style="width: 450px;clear:both;word-break: break-all;word-wrap: break-word; min-height: 100px; border: 1px solid #CCCCCC;" contenteditable="true"></div>
              <%= f.hidden_field :describe, :value => @dish_type.describe %>
            </td>
          </tr>


          <td></td>
          <td>
            <div style='margin-left: 60px;margin-top: 20px;'>
              <input type='submit' value='创建' class='btn btn-large btn-primary' id="all_send" onclick="return before_submit();"/>
            </div>
          </td>
          </tr>
        </table>
    <% end %>
  </div>

</div>



