<%= display_header(NAV1[:dish_type]) %>


<style type="text/css">
    * {
        margin: 0;
        padding: 0
    }

    ul, li {
        list-style: none
    }

    .box {
        width: 1000px;
        height: 500px;
        border: 1px solid #ccc;
        margin: 10px;
        font-size: 12px;
        font-family: Verdana, Arial, Helvetica, sans-serif
    }

    .tagMenu {
        height: 28px;
        line-height: 28px;
        background: #efefef;
        position: relative;
        border-bottom: 1px solid #999
    }

    .tagMenu h2 {
        font-size: 12px;
        padding-left: 10px;
    }

    .tagMenu ul {
        position: absolute;
        left: 100px;
        bottom: -1px;
        height: 26px;
    }

    ul.menu li {
        float: left;
        margin-bottom: 1px;
        line-height: 16px;
        height: 14px;
        margin: 5px 0 0 -1px;
        border-left: 1px solid #999;
        text-align: center;
        padding: 0 12px;
        cursor: pointer
    }

    ul.menu li.current {
        border: 1px solid #999;
        border-bottom: none;
        background: #fff;
        height: 25px;
        line-height: 26px;
        margin: 0
    }

    .content {
        padding: 10px
    }

    img {
        border: 1px solid lightgrey
    }
</style>


<script type="text/javascript">

    function return_index() {
        var root_url = "http://"+document.location.host ;
        self.location = root_url + "/dish_types";
    }

</script>
<!--t.string   "name"-->
<!--t.string   "describe"-->
<!--t.datetime "created_at"-->
<!--t.datetime "updated_at"-->


<div class="title-main">
  <div class="title-left">
    类别详情
  </div>
  <div class="title-right">
    <button class="btn btn-large btn-navbar" type="submit" onclick="return_index()">返回</button>
    <%= link_to '修改', "/dish_types/#{@dish_type.id}/edit", :method => :get, :class => 'btn btn-large btn-primary' %>
  </div>
</div>
<div class="main-container">
  <div
  <% if flash[:notice] %> class="alert"
  <% end %>>
    <%= flash[:notice] %>
  </div>
  <div style="clear: both;margin-top: 50px;">
    <table id="show_coupon" class="table  table-condensed" style="table-layout:fixed;width: 500px; float:left;">
      <tr>
        <td width="100">类别名称:</td>
        <td><%= @dish_type.name %></td>
      </tr>

      <tr>
        <td width="100">详细介绍:</td>
        <td>
          <%= @dish_type.describe %>
        </td>
      </tr>
      <tr>
        <td width="100">创建时间:</td>
        <td> <%= @dish_type.created_at.strftime('%Y年%m月%d日   %H:%M:%S') %></td>
      </tr>
    </table>


  </div>

</div>