<%= display_header(NAV1[:table]) %>
<%= display_nav_tables() %>



<script type="text/javascript">
    var validateRoot = "http://" + document.location.host;
    function typeSelect(n) {
        var uri = validateRoot + "/tables/select_type?type=" + n;
        var xmlHttp = null;
        if (window.XMLHttpRequest) {// code for IE7, Firefox, Opera, etc.
            xmlHttp = new XMLHttpRequest();
        }
        else if (window.ActiveXObject) {// code for IE6, IE5
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        if (xmlHttp != null) {
            xmlHttp.open("GET", uri, false);
            xmlHttp.send(null);
            return true;
        }
        else {
            alert("Your browser does not support XMLHTTP.");
            return false
        }
    }

</script>

<script type="text/javascript">

    function validate(id) {
        var view = document.getElementById(id);
        var value = view.value == null ? 0 : view.value;
        if (isNaN(value)) {
            $('#alert').show().find('strong').text("包含非数字的字符！");
            document.getElementById(id).focus();
        }
        else
            $('#alert').hide();
    }


    function before_submit() {
        return true;
    }


</script>

<style>
    .pop-box {
        /*弹出窗口后，弹出的DIV采用此CSS，保证置于最上层
        z-index控制Z轴的坐标，数值越大，离用户越近
        */
        z-index: 9999999; /*这个数值要足够大，才能够显示在最上层*/
        margin-bottom: 3px;
        display: none;
        position: absolute;
        background: #f5f5f5;
        border: 1px solid lightgrey;
    }


</style>

<div class="title-main">
  <div class="title-left">
    修改餐桌信息
  </div>
  <div class="title-right">
  </div>
</div>

<div class="main-container">
  <div style="float: left;clear: both;">
    <%= form_for @table, :url => {:action => 'update', :id => @table.id, :method => 'put'}, :html => {:class => 'nifty_form', :multipart => true} do |f| %>
        <table>
          <tr>
            <td colspan="2">
              <div
              <% if flash[:msg] %> class="alert"
              <% end %>>
                <%= flash[:msg] %>
              </div>
            </td>
          </tr>
          <tr>
            <td>桌号:</td>
            <td><%= f.text_field :number, :value => @table.number, :style => 'width:60px;', :onchange => 'validate(this.id)' %></td>
          </tr>
          <tr>
            <td>桌名:</td>
            <td><%= f.text_field :name, :value => @table.name, :style => 'width:300px;' %>
            </td>
          </tr>
          <tr>
            <td>适合人数:</td>
            <td><%= f.text_field :size, :value => @table.size, :style => 'width:60px;', :onchange => 'validate(this.id)' %>
              人
            </td>
          </tr>
          <tr>
            <td>当前状态:</td>
            <td>
              <% container = [[TABLE[0],0], [TABLE[1],1], [TABLE[2],2]] %>
              <%= f.select :status, options_for_select(container, @table.status) %>
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              <div style="margin-left: 60px;margin-top: 20px;">
                <input type="submit" value="保存" class="btn btn-large btn-primary" id="all_send" onclick="return before_submit();"/>
              </div>
            </td>
          </tr>

        </table>
    <% end %>
  </div>
</div>


